<h1>Quandary</h1>
<p>Whether you have a question about class work or the meaning of life, wou'll find answers here.</p>
<ul>
  {{#each}}
    <li>{{author}}{{#link-to 'quandary' this.id}}{{question}}{{/link-to}}</li>
  {{/each}}
</ul>

<p>{{#link-to 'new-quandary' classNames="btn btn-primary"}}Create a new quandary{{/link-to}}</p>
