<h1>Quandary</h1>
<p>Whether you have a question about class work or the meaning of life, wou'll find answers here.</p>
<ul>
  <li>Nancy J.<a href='#'>What is love?</a></li>
  <li>Mark P.<a href='#'>What is the answer to this riddle?</a></li>
  <li>Jason Y.<a href='#'>What is a good dinner to make for a first date?</a></li>
</ul>
